

html {
  background-color: #90C8CB;
  scroll-padding-top: 70px; /* altezza della tua navbar */
}

body {
  margin: 0;
  padding: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}


    .content {
      padding: 60px 20px 20px 20px;
      background-color: #90C8CB;
    }
    .hbox {
      max-width: 230px;
    }
    .titolo {
      font-size: 1.4rem;
      color: #004AAD;
    }

/*mobile first*/
    .profilo {
    display: flex;
    flex-direction: column;  /* layout verticale per mobile */
    gap: 20px;
    margin-top: 20px;
    }

    .img-profilo {
    width: 400px;
    height: auto;
    border-radius: 50%;
    align-self: center; /* centra l'immagine su mobile */
    }

    .img-logo {
    width: 400px;
    height: auto;
    }

    .logo{
    width: 50px;
    height: auto;
    margin: 0%;
    }

    .overlay-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* semitrasparente scuro */
  z-index: 1;
}

.card-img-overlay {
  z-index: 2;
  color: white;
}


  @media (min-width: 768px) {

        .profilo {
            flex-direction: row; /* affianca immagine e testo su desktop */
            align-items: center;
        }
        .img-profilo {
            margin-right: 40px;
            align-self: flex-start; /* riallinea immagine a sinistra */
        }
        .img-logo {
            width: 600px;
            height: auto;
        }
        .logo{
            width: 50px;
            height: auto;
        }
        .hbox
        {
           max-width:fit-content; /* rimuove il limite di larghezza */
        }
        .titolo{
          font-size: 2rem;
          white-space: nowrap; /* forza il titolo su una sola riga */
         }
}

   